:root {
  /* 
        FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
        COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
        TOGETHER WILL MAKE UP A GIVEN THEME
    
        @author McKilla Gorilla
    */
  --swatch-foundation: #eeeedd;
  --swatch-primary: #e6e6e6;
  --swatch-complement: #e1e4cb;
  --swatch-contrast: #111111;
  --swatch-accent: #669966;
  --swatch-status: #123456;
  --my-font-family: "Robaaaoto";
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

body {
  background-color: var(--swatch-foundation);
  overflow: hidden;
}

#root {
  font-family: "Lexend Exa";
  position: absolute;
  width: 80%;
  left: 10%;
  height: 90%;
  top: 5%;
}

#app-root {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}

#splash-screen {
  background-image: linear-gradient(to bottom, #eaff00, #235767);
  background-repeat:no-repeat;
  background-size:cover;
  color: white;
  font-size: 5vw;
  padding-top: 5%;
  padding-bottom: 5%;
  height:70%;
  text-align: center;
  vertical-align: center;
  display:flex;
  flex-direction: column;
}

#splash-screen-button-box {
  font-size: 1.5vw;
}

.splash-screen-button{
  font-size: 1.5vw;
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  margin-left:10px;
}

#edit-toolbar {
  background-color: transparent;
  float: right;
}

#playlister-title {
  color: white;
  font-size: 5vw;

}

.splash-screen-text{
  color: white;
  font-size: 1.5vw;
}




.top5-button,
.top5-button-disabled {
  font-size: 36pt;
  border-width: 0px;
  float: left;
  color: black;
  cursor: pointer;
  opacity: 100%;
}

.top5-button:hover {
  cursor: pointer;
  color: black;
}

.top5-button-disabled {
  opacity: 0.25;
  cursor: not-allowed;
}

.song-card-holder {
  overflow:scroll;
  height: 70vh;
  
}

#top5-list-selector {
  position: absolute;
  left: 0%;
  top: 10%;
  width: 100%;
  height: 80%;
  background-color: var(--swatch-primary);
}

#top5-workspace {
  position: absolute;
  left: 0%;
  top: 10%;
  width: 100%;
  height: 80%;
  background-color: var(--swatch-accent);
}

#playlister-statusbar {
  position: absolute;
  left: 0%;
  top: 90%;
  width: 100%;
  height: 10%;
  background: url('https://www.cs.stonybrook.edu/sites/default/files/mckenna_0.jpg');
  border-color: black;
  border-radius:300px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 36pt;
  color:white;
}

#playlister-body {
  background-color: lightgrey;
  background-size:cover;
  color: white;
  height:85%;
  text-align: center;
  vertical-align: center;
  display:flex;
  flex-direction: column;
  top: 64px;
}

#playlister-body-statusbar{
  display: flex;
  flex-direction: row;
}


.searchbar{
  background-color: white;
  width: 30vw;
}

#list-selector-heading {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 10%;
  text-align: center;
  font-size: 24pt;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#add-list-button {
  float: left;
}

#list-selector-list {
  position: absolute;
  background-color:#b3b3b3;
  left: 1%;
  top: 20%;
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 10px;
}

.list-card{
  font-size: 18pt;
  border-radius: 10px;
  background-color: tan;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  width: 100%;
  height: 18vh;
  display: flex;
  flex-direction: column;
}

.list-card-opened{
  font-size: 18pt;
  border-radius: 10px;
  background-color: darkgoldenrod;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  width: 100%;
  height: 35vh;
  display: flex;
  flex-direction: column;
}

.list-card-title{
  font-size: 15pt;
  position: absolute;
  left: 5%;
  top: 2.5vh;
}

.list-card-owner{
  font-size:8pt;
  position: absolute;
  left:5%;
  bottom: 4.5vh;
}

.list-card-expand-icon{
  position: absolute;
  right:5%;
  bottom:2%
}

.list-card-ratings-like{
  position: absolute;
  left:65%;
  top:2.5vh;
  font-size:10pt;
}

.list-card-ratings-dislike{
  position: absolute;
  left:80%;
  top:2.5vh;
  font-size:10pt;
}

.list-card-editing-buttons{
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 10%;
  bottom: 3.5vh;
}

.list-card-editing-button{
  font-size:11pt;
  padding: 2px 10px 2px 10px;
  display:inline;
  height: 20px;
  text-align:center;
  background-color: rgb(177, 177, 177);
  border-color: black;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  margin-right: 2px;

}


.list-card-published{
  font-size:8pt;
  position: absolute;
  bottom: 1.5vh;
  left: 5%;
}

.list-card-listens{
  font-size:8pt;
  position: absolute;
  bottom: 1.5vh;
  left: 65%;
  align-items: center;
}

.list-card-selector {
  overflow-y: scroll;
  background-color: darkblue;
  color: darkgoldenrod;
  width: 80%;
  height: 60%;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  position: absolute;
  top: 6.5vh;
  left: 7%;
}

.song-card {
  color: inherit;
  text-decoration: inherit;
}

#song-add-card{
  text-align: center;
}

.song-card-body{
  display: flex;
  flex-direction: row;
  padding: 3px 0px 3px 0px
}

#delete-song-button{
  position: absolute;
  right: 10px;
  background-color: tan;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  color: black;
}

#comments{
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 57%;
  background-color: lavender;
  position: absolute;
  top: 20%;
  right: 1%;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}

#comment-textbox{
  width: 96%;
  padding-top: 10px;
  margin-left: 2%;
  margin-top: 2%;
  border-top: 1px;
  border-top-color: black;
  border-top-style: solid;

}

.comment-textbox-mui .MuiOutlinedInput-root{
  border-radius: 10px;
}

#comment-card-holder{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  height: 100%;
}

.comment-card{
  border-width: 1px;
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  background-color: tan;
  margin-bottom: 15px;
  padding-bottom: 10px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  width: 98%;
}

.comment-author{
  margin-left: 5px;
  margin-top:5px;
  font-size: 10pt;
}

.comment-content{
  margin-top:10px;
  margin-left:3px;
}

.player-buttons{
  position: absolute;
  top: 16%;
  left: 60%;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.player-button{
  width: 8%;
  border-width: 2px 2px 0px 2px;
  border-color: black;
  border-style: solid;
  border-radius: 3px 3px 0px 0px;
  padding:5px;
  text-align: center;
  margin-right: 2px;
}

.unselected-list-card:hover {
  cursor: pointer;
  background-color: var(--swatch-contrast);
  color: white;
}

.selected-list-card {
  background-color: var(--swatch-accent);
  color: white;
}

.unselected-list-card {
  background-color: var(--swatch-complement);
}

.list-card-button {
  float: right;
  transform: scale(1);
}

#workspace-home,
#workspace-edit {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}

#edit-numbering {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 20%;
  height: 100%;
  background-color: var(--swatch-status);
}

#edit-items {
  position: absolute;
  left: 20%;
  top: 0%;
  width: 80%;
  height: 100%;
  background-color: var(--swatch-primary);
}

.item-number,
.top5-item,
.top5-item-dragged-to {
  display: flex;
  align-items: center;
  font-size: 48pt;
  height: 20%;
}

.item-number {
  justify-content: center;
  width: 100%;
  border: 1px 0px 1px 1px;
  border-color: black;
  background-color: linen;
  color: black;
}

input {
  font-size: 20pt;
}

.top5-item,
.top5-item-dragged-to {
  text-align: left;
  width: 95%;
  padding-left: 5%;
}
.top5-item {
  background-color: var(--swatch-complement);
}
.top5-item-dragged-to {
  background-color: var(--swatch-accent);
}

.disabled {
  background-color: lightgray;
}

.disabled:hover {
  color: var(--swatch-neutral);
}


/* THIS STYLE SHEET MANAGES STYLE FOR OUR MODAL, i.e. DIALOG BOX */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--black);
  color: var(--swatch-text);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
  font-family: var(--font-primary);
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  background: var(--swatch-complement);
  overflow: auto;
  cursor: default;
  border-width: 5px;
  border-radius: 10px;
  border-style: groove;
}

.modal-dialog > * {
  padding: 1rem;
}

.modal-header,
.modal-footer {
  background: var(--lightgray);
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: dotted;
}

.modal-header,
.modal-close {
  font-size: 2.0rem;
}

.modal-center{
  padding-top: 1rem;
}

.modal-textfield{
  max-width: 350px;
  margin-bottom: 1.0rem;
}


.modal p + p {
  margin-top: 1rem;
}

.modal-control {
  cursor: pointer;
  width: 20%;
}

.dialog-header {
  font-size: 24pt;
}

#close-modal-button {
  float: right;
}

.confirm-cancel-container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.modal-button{
  margin: 20px;
  font-size: 2rem;
}

/* Fix Initials not being clickable */
.MuiButtonBase-root  {
  z-index: 2;
}

.MuiTypography-root  {
  z-index: 2;
}

/* */
#list-selector-heading{
  z-index: 1;
}



/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[data-animation] .modal-dialog {
  opacity: 0;
  transition: all 0.5s var(--bounceEasing);
}

[data-animation].is-visible .modal-dialog {
  opacity: 1;
  transition-delay: 0.2s;
}

[data-animation="slideInOutDown"] .modal-dialog {
  transform: translateY(100%);
}

[data-animation="slideInOutTop"] .modal-dialog {
  transform: translateY(-100%);
}

[data-animation="slideInOutLeft"] .modal-dialog {
  transform: translateX(-100%);
}

[data-animation="slideInOutRight"] .modal-dialog {
  transform: translateX(100%);
}

[data-animation="zoomInOut"] .modal-dialog {
  transform: scale(0.2);
}

[data-animation="rotateInOutDown"] .modal-dialog {
  transform-origin: top left;
  transform: rotate(-1turn);
}

[data-animation="mixInAnimations"].is-visible .modal-dialog {
  animation: mixInAnimations 2s 0.2s linear forwards;
}

[data-animation="slideInOutDown"].is-visible .modal-dialog,
[data-animation="slideInOutTop"].is-visible .modal-dialog,
[data-animation="slideInOutLeft"].is-visible .modal-dialog,
[data-animation="slideInOutRight"].is-visible .modal-dialog,
[data-animation="zoomInOut"].is-visible .modal-dialog,
[data-animation="rotateInOutDown"].is-visible .modal-dialog {
  transform: none;
}

@keyframes mixInAnimations {
  0% {
    transform: translateX(-100%);
  }

  10% {
    transform: translateX(0);
  }

  20% {
    transform: rotate(20deg);
  }

  30% {
    transform: rotate(-20deg);
  }

  40% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  60% {
    transform: rotate(10deg);
  }

  70% {
    transform: rotate(-10deg);
  }

  80% {
    transform: rotate(5deg);
  }

  90% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
